<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>内容管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 发布内容 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
<!-- 
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <a class="btn btn-primary radius" data-title="添加内容" data-href="{:U('admin/fabu/create')}" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i>添加内容</a></span> </div> -->


	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
		<!-- 			<th width="25"><input type="checkbox" name="" value=""></th> -->
					<th width="40">标题</th>
					<th width="120">下载地址</th>

					<th width="20">操作</th>
				</tr>
			</thead>
			<tbody>

				<tr class="text-c">
			<!-- 		<td><input type="checkbox" value="" name=""></td> -->
					<td>软件主图</td>
					<td class="td-status"> <a href="<?php echo $user['zhutu']; ?>">主图预览</a> </td>

					<td class="f-14 td-manage">
				<a style="text-decoration:none" class="ml-5" onClick="article_edit('编辑','<?php echo U('admin/upload/edit',array('id'=>$v['id'])); ?>','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> </td>
				</tr>


				<tr class="text-c">
			<!-- 		<td><input type="checkbox" value="" name=""></td> -->
					<td>详细说明</td>
					<td class="td-status"> <a href="<?php echo $user['sm']; ?>">详细说明</a> </td>

					<td class="f-14 td-manage">
				<a style="text-decoration:none" class="ml-5" onClick="article_edit('编辑','<?php echo U('admin/upload/smedit',array('id'=>$v['id'])); ?>','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> </td>
				</tr>

				<tr class="text-c">
			<!-- 		<td><input type="checkbox" value="" name=""></td> -->
					<td>教程压缩包</td>
					<td class="td-status"> <a href="<?php echo $user['jc']; ?>">教程下载</a> </td>

					<td class="f-14 td-manage">
				<a style="text-decoration:none" class="ml-5" onClick="article_edit('编辑','<?php echo U('admin/upload/jcedit',array('id'=>$v['id'])); ?>','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> </td>
				</tr>


				<tr class="text-c">
			<!-- 		<td><input type="checkbox" value="" name=""></td> -->
					<td>软件压缩包</td>
					<td class="td-status"> <a href="<?php echo $user['rj']; ?>">软件下载</a> </td>

					<td class="f-14 td-manage">
				<a style="text-decoration:none" class="ml-5" onClick="article_edit('编辑','<?php echo U('admin/upload/rjedit',array('id'=>$v['id'])); ?>','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
<!-- 				<a style="text-decoration:none" class="ml-5" onClick="article_del(this,'<?php echo $v['id']; ?>')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a> -->
				</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 

<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">


/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '<?php echo U('admin/fabu/delete') ?>',
			dataType: 'json',
			data: {id: id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}


</script> 
</body>
</html>